[Unit]
Description=Servicio VPN ACME
After=multi-user.target

[Service]

Type=simple

ExecStart=/usr/bin/python3 /root/vpn_configuration/starter_vpn_acme.py
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target